@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular.scss';

$red-syok: #f40b32;
$transition-normal: all 0.3s ease-in-out;

//  common sense
body {
  border-top: 2px solid $red-syok;
  background-color: #0e1116;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  position: relative;
  z-index: 1;
}

.code {
  font-family: 'Roboto Mono', monospace;
}

a {
  color: white;
  transition: $transition-normal;

  &:hover {
    text-decoration: none;
    color: $red-syok;
  }
}

p {
  line-height: 1.8;
}

::selection {
  color: white;
  background-color: $red-syok;
}

.wrapper {
  background-color: #0e1116;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

// top
.logo-container {
  padding-top: 30px;
  padding-bottom: 16px;
}

.link-icon {
  padding: 15px;
  margin: auto 15px;

  @include media-breakpoint-only(xs) {
    padding: 0;
    margin: 0;
  }

  &-active {
    border-bottom: 3px solid $red-syok;
  }

  img {
    padding-right: 5px;
  }
}

.welcome-text {
  font-size: 3.5rem;
  padding-top: 25px;
}

// feed
// padding: 25px 0 15px;
.nav-pills {
  .nav-tabs {
    border-bottom: 0;
  }

  .nav-link {
    font-size: 1.2rem;
    // font-weight: bold;
    color: rgba(255, 255, 255, 0.4);
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 5px solid transparent;
    margin-right: 25px;
    padding: 0;
    padding-bottom: 5px;

    &.active,
    &:hover {
      background-color: transparent;
      border: 0;
      border-bottom: 5px solid transparent;
      color: white;
    }

    &:hover {
      border-bottom-color: rgba($red-syok, 0.2);
    }

    &.active {
      color: rgba(255, 255, 255, 1);
      border-bottom-color: $red-syok;
      background-color: transparent;
    }
  }
}

.feed-list {
  &-head {
    // background-color: #efeef7;
    padding-top: 25px;

    h6 {
      opacity: 0.55;
    }
  }

  &-item {
    padding-top: 15px;
    padding-bottom: 15px;

    // &:first-child {
    //   padding-top: 5px;
    // }

    .meta {
      margin-bottom: 5px;

      span {
        display: inline-block;
        opacity: 0.75;

        &.brand {
          margin-right: 15px;
        }
      }
    }

    h5 {
      line-height: 1.4;
    }

    h6 {
      line-height: 1.4;
    }
  }
}

.row-syokcast {
  position: relative;
}

.display-item {
  &-show {
    opacity: 1;
    pointer-events: visible;
    position: relative;
  }
  &-hidden {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
}

.edit-item {
  background: #61627b;
  border-radius: 10px;
  box-shadow: 0 3px 5px 1px black;
  border: #adb5bd 1px solid;
  &-hidden {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
  &-show {
    opacity: 1;
    pointer-events: visible;
    position: relative;
  }
  p {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.block {
  border-radius: 15px;
  padding: 25px;

  &-white-bg {
    background-color: #efeef7;
    color: black;
  }
}

// footer
footer {
  width: 100%;
  height: 100px;
  // background-color: $red-syok;
  // background-color: #083d77;
  background-color: #07090f;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;

  p {
    padding: 30px 0;
  }
}

// search form
.search-form {
  position: relative;

  .search-icon {
    position: absolute;
    left: 40px;
    top: 22px;
    font-size: 1.2rem;
    color: #616283;
  }
}

input[type='search'] {
  height: 70px;
  padding: 25px;
  padding-left: 60px;
  border-radius: 50px;
  border-color: #616283;
  background: rgba(97, 98, 131, 0.1);
  color: rgba(255, 255, 255, 0.6);
  transition: $transition-normal;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  &:focus {
    color: rgba(255, 255, 255, 1);
    background: rgba(97, 98, 131, 0.1);
    border-color: #616283;
    outline: 0;
    box-shadow: 0 0 10px 0.2rem rgba(30, 35, 41, 0.7);
  }
}

input[type='button'] {
  position: absolute;
  right: 30px;
  top: 13px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50px;
  background-color: rgba(97, 98, 131, 0.7);
  border: #616283;
  color: rgba(255, 255, 255, 0.6);

  @include media-breakpoint-only(xs) {
    display: none;
  }
}

#search {
  margin-top: 15px;
  border: 0;
  border-bottom: 1px solid;
  background: transparent;
  padding-left: 0;
  border-radius: 0;
}

// filter form
.filter-form {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.8rem;
  background-color: rgba(97, 98, 131, 0.7);
  border: #616283;
  color: rgba(255, 255, 255, 0.6);

  &:focus {
    background-color: rgba(97, 98, 131, 0.7);
    border: #616283;
    color: rgba(255, 255, 255, 0.6);
  }
}

// accordian sponsored list
.accordian-sponsored-list {
  margin-top: 25px;
  background: rgba(97, 98, 131, 0.25);
  border-radius: 5px;
  width: 100%;

  .card-header {
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.0255);
    }
  }

  .btn {
    color: white;
  }
}

// misc
.button {
  padding: 10px 7px;
  border-radius: 7px;
  display: inline-block;
  margin-bottom: 15px;
  width: 65%;
  cursor: pointer;

  &-edit {
    background-color: #3a539b;
    color: #ffffff;

    &:hover {
      background-color: rgba(#3a539b, 0.7);
      color: #ffffff;
    }
  }

  &-save {
    background-color: #019875;
    color: #ffffff;

    &:hover {
      background-color: rgba(#019875, 0.7);
      color: #ffffff;
    }
  }

  &-remove {
    background-color: $red-syok;
    color: #ffffff;

    &:hover {
      background-color: rgba($red-syok, 0.7);
      color: #ffffff;
    }
  }

  &-sponsor {
    background-color: #f5ab35;
    color: #ffffff;

    &:hover {
      background-color: rgba(#f5ab35, 0.7);
      color: #ffffff;
    }
  }

  &-unsponsor {
    background-color: #22313f;
    color: #ffffff;

    &:hover {
      background-color: rgba(#22313f, 0.7);
      color: #ffffff;
    }
  }

  &-clear {
    background: rgba(97, 98, 131, 0.1);
    border: 1px solid #616283;
    border-radius: 10px;
    &:hover {
      background: rgba(97, 98, 131, 0.5);
    }
  }
}

// modal
.modal {
  &-body {
    padding: 0;
    color: black;
    .close {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      height: 30px;
      width: 30px;
      position: absolute;
      right: 5px;
      top: 5px;
      color: white;
      text-shadow: 0 0 transparent;
      z-index: 99;
    }

    h4 {
      margin-bottom: 5px;
    }

    p {
      color: black;
      font-size: 1.1rem;
      padding: 15px;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    textarea {
      margin-bottom: 5px;
    }

    .remove-detail {
      background: #dfdfdf;
      padding: 15px;
      margin: 10px;
      margin-bottom: 25px;
      border-radius: 10px;
      .remove-wrap {
        margin-top: 15px;
        &:first-child {
          margin-top: 0;
        }
        span {
          color: black;
          font-style: italic;
        }
        p {
          padding: 0;
          font-size: 1rem;
          line-height: 1.5;
        }
      }
    }
  }

  &-footer {
    justify-content: space-between;
    border-top: 0;
    padding-top: 0;
    .btn {
      width: 48%;
      margin: 0;
    }
  }
}

// Tag Input
/*
 * bootstrap-tagsinput v0.8.0
 * 
 */

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  line-height: 22px;
  cursor: text;
  margin-bottom: 10px;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .badge {
  margin: 2px 0;
  margin-right: 3px;
  font-size: 95%;
  padding: 5px 8px;
}
.bootstrap-tagsinput .badge [data-role='remove'] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .badge [data-role='remove']:after {
  content: '✕';
  /* content: "×"; 
  padding: 0px 4px;
  background-color:rgba(0, 0, 0, 0.1);
  border-radius:50%;
  font-size:13px; */
}
.bootstrap-tagsinput .badge [data-role='remove']:hover:after {
  color: red;
  transition: 0.4s;
}
.bootstrap-tagsinput .badge [data-role='remove']:hover:active {
  color: white;
}

.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  cursor: pointer;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

// misc
.badge-info {
  background-color: $red-syok;
}
.logo-container {
  a[data-toggle='modal'] {
    cursor: pointer;
    &:hover {
      color: $red-syok;
    }
  }
}
#getSyokcastBtn {
  display: block;
}

button {
  border: 0;
}

textarea:disabled {
  cursor: not-allowed;
}

.badge {
  padding: 5px 10px;
  margin-right: 3px;
  font-size: 85%;
}

#keywordFilter {
  word-wrap: h;
}
